<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      Reminder !
    </a>
  </div>
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="add">
        Add
      </a>
    </div>
  </div>
</nav>
<br/>
<div class="container is-widescreen">
  <div class="box">
    <div class="tile">
      <p class="title">Todo</p>
    </div>
    <br/>

    <router-outlet></router-outlet>

  </div>

</div>